:root {
    --font-open-sans: "Open Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --primary-color: #5846f9;
    --primary-hover-color: #8577fb;
    --secondary-color: #444444;
    --header-background: rgba(24, 6, 185, 0.8);
    --navbar-background: rgba(24, 6, 185, 0.8);
    --navbar-link-color: rgba(255, 255, 255, 0.7);
    --navbar-link-hover-color: #fff;
    --navbar-active-link-color: #fff;
    --navbar-border-color: #fff;
    --navbar-dropdown-background: #fff;
    --navbar-dropdown-shadow: rgba(127, 137, 161, 0.25);
    --home-gradient-start: rgba(86, 58, 250, 0.9);
    --home-gradient-end: rgba(116, 15, 214, 0.9);
    --home-text-color: #fff;
    --home-text-secondary-color: rgba(255, 255, 255, 0.8);
    --home-button-background: #fff;
    --home-button-color: #5846f9;
    --bg-color: rgb(158, 158, 158);
    --hd-logo-a-color: #fff;
    --bg-navbar-color: #fff;
    --navbarborder2: rgba(255, 255, 255, 0.5);
    --navbar-dropdown-ul-color: #2c4964;
    --bg-color2: black;
    --navbar-getstarted-color: #fff;
    --navbar-getstarted-bordercolor: #fff;
}

body {
    font-family: var(--font-open-sans);
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-hover-color);
    text-decoration: none;
}

.header {
    padding: 20px 0;
}

.header.header-scrolled,
.header.header-inner-pages {
    background: var(--header-background);
    padding: 12px 0;
}

.header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header .logo a {
    color: var(--hd-logo-a-color);
}

.header .logo img {
    max-height: 40px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-poppins);
    font-size: 15px;
    font-weight: 600;
    color: var(--navbar-link-color);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar>ul>li>a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--bg-navbar-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--navbar-link-hover-color);
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 5px;
    color: var(--bg-navbar-color);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid var(--navbarborder2)
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: var(--navbar-getstarted-color);
    border-color: var(--navbar-getstarted-bordercolor);
}

.navbar .getstarted:before,
.navbar li:hover>.getstarted:before {
    visibility: hidden;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--navbar-dropdown-background);
    box-shadow: 0px 0px 30px var(--navbar-dropdown-shadow);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    color: var(--navbar-dropdown-ul-color);
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--primary-color);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--home-gradient-start) 0%, var(--home-gradient-end) 100%),
        url("../img/hero-bg.jpg") center center no-repeat;
    background-size: cover;
}

.home .container,
.home .container-fluid {
    padding-top: 84px;
}

.home h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: var(--home-text-color);
}

.home h2 {
    color: var(--home-text-secondary-color);
    margin: 10px 0 0 0;
    font-size: 20px;
}

.home .btn-get-started {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: var(--home-button-background);
    border: 2px solid var(--home-button-background);
}

.home .btn-get-started:hover {
    background: var(--home-button-background);
    color: var(--primary-color);
}

.bg-color {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color2);
    padding: 20px;
}


.navbar>ul>li {
    padding: 10px 0 10px 24px;
    position: relative;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: transparent; 
    transition: all 0.3s ease-in-out; 
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    background-color: #fff; 
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--navbar-link-hover-color);
}


.navbar .active:before {
    background-color: #fff; 
}

.about {
    padding: 120px 0;
  }
  
  .about .content h3 {
    font-weight: 600;
    font-size: 32px;
    color: #2c4964;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5846f9;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .content .read-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    position: relative;
  }
  
  .about .content .read-more:hover {
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
  }
  
  .about .content .read-more i {
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 12px;
  }

  .counts {
    background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../img/counts-bg.png") center center no-repeat;
    padding: 80px 0 60px 0;
  }
  
  .counts .counters span {
    font-size: 48px;
    display: block;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
  }

  .Nummer1, .Nummer2, .Nummer3, .Nummer4{
    color: white;
    font-size: 20px;
  }

  .section-bg {
    background-color: #f9f8ff;
  }

.section-title{
    text-align: center;
}

.section-name{
    font-weight: bold;
}
  .services .box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }
  
  .services .box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .services .box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }
  
  .services .box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .services .box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }
  
  .services .box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  
  .services .box h4 a {
    color: #2c4964;
    transition: ease-in-out 0.3s;
  }
  
  .services .box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  }
  
  .services .box-blue i {
    color: #47aeff;
  }
  
  .services .box-blue:hover .icon i {
    color: #47aeff;
  }

  .services .box-orange i {
    color: #ffa76e;
  }
  
  .services .box-orange:hover .icon i {
    color: #ffa76e;
  }
  
  .services .box-pink i {
    color: #e80368;
  }
  
  .services .box-pink:hover .icon i {
    color: #e80368;
  }

  .services .box-yellow i {
    color: #ffbb2c;
  }
  
  .services .box-yellow:hover .icon i {
    color: #ffbb2c;
  }
  

  .services .box-red i {
    color: #ff5828;
  }
  
  .services .box-red:hover .icon i {
    color: #ff5828;
  }
  

  .services .box-lightblue i {
    color: #11dbcf;
  }
  
  .services .box-lightblue:hover .icon i {
    color: #11dbcf;
  }



  .features .box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
  }
  
  .features .box i {
    font-size: 48px;
    float: left;
    color: #5846f9;
  }
  
  .features .box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
  }
  
  .features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }
  